.container {
  height: 100%;
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
}

#opened {
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 500;
  display: flex;
}
