.container {
  height: 100vh;
  z-index: 1;
  position: relative;
}

.container__picture {
  background-image: url("https://img.freepik.com/free-photo/set-sushi-shrimp-maki-with-bottle-wine-stone-table-top-view-with-copy-space_96727-1926.jpg?w=1380");
  background-size: 100% 100%;
  height: 400px;
  clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 100% 70%);
}
